<a href="https://colab.research.google.com/github/mvharsh/Deep-Learning/blob/main/ANN/Bike_Sharing_ANN_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **ANN Regression with manually uploaded dataset**

In [ ]:
# Import necessary libraries
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
# Load and preprocess the data
df = pd.read_csv(r"C:\Users\sdsow\Downloads\train.csv")
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [ ]:
# Convert 'datetime' column to datetime type
df["datetime"] = df["datetime"].astype("datetime64")

In [ ]:
# Extract hour, day , month, year from datetime
df["hour"] = df["datetime"].dt.hour
df["day"] = df["datetime"].dt.day
df["month"] = df["datetime"].dt.month
df["year"] = df["datetime"].dt.year

In [ ]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,hour,day,month,year
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,0,1,1,2011
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,1,2011
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2,1,1,2011
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3,1,1,2011
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,4,1,1,2011

In [ ]:
# Drop 'datetime' column
df = df.drop(["datetime"], axis=1)

In [ ]:
# Define target variable and features
y = df["count"]
X = df.drop(["count"],axis=1)

In [ ]:
# Split data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=64)

In [ ]:
data = (X_train - X_train.mean())/X_train.std()
y.head()

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [ ]:
X_train

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,hour,day,month,year
7471,2,0,1,1,23.78,27.275,30,31.0009,87,334,16,10,5,2012
1680,2,1,0,2,15.58,19.695,82,26.0027,16,64,22,15,4,2011
1968,2,0,0,1,20.50,24.240,88,6.0032,29,86,22,8,5,2011
8639,3,0,1,1,29.52,34.850,74,7.0015,21,718,8,2,8,2012
4521,4,0,1,1,18.86,22.725,63,7.0015,16,101,11,1,11,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,1,0,1,1,6.56,6.820,43,26.0027,7,81,9,3,1,2011
3238,3,0,1,2,28.70,33.335,74,12.9980,41,245,20,4,8,2011
6263,1,0,1,2,11.48,13.635,93,11.0014,0,16,5,17,2,2012
5094,4,0,1,2,18.86,22.725,94,12.9980,13,401,8,6,12,2011
6596,1,0,1,1,14.76,17.425,50,8.9981,0,2,3,12,3,2012

In [ ]:
# Define and train the model

model = Sequential()
# model.add(Dense(128, activation="relu"))
# model.add(Dense(20, activation="linear"))
# model.add(BatchNormalization())
model.add(Dense(16, activation="linear"))
model.add(Dense(1))
model.compile(loss="mse", optimizer="adam")

In [ ]:
model.fit(X_train,y_train, validation_split=0.2, epochs = 60, verbose = 1)

Epoch 1/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2544 - val_loss: 8.2404e-04
Epoch 2/60
218/218 [==============================] - 0s 1ms/step - loss: 0.0735 - val_loss: 0.0688
Epoch 3/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2099 - val_loss: 0.0223
Epoch 4/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1239 - val_loss: 0.0303
Epoch 5/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1539 - val_loss: 0.4230
Epoch 6/60
218/218 [==============================] - 0s 1ms/step - loss: 0.3734 - val_loss: 0.0085
Epoch 7/60
218/218 [==============================] - 0s 1ms/step - loss: 0.0623 - val_loss: 9.4371e-04
Epoch 8/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2504 - val_loss: 2.2936e-04
Epoch 9/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1937 - val_loss: 0.0115
Epoch 10/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1695 - val_loss: 0.0835
Epoch 11/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1222 - val_loss: 1.0571e-04
Epoch 12/60
218/218 [==============================] - 0s 1ms/step - loss: 1.1160 - val_loss: 0.0044
Epoch 13/60
218/218 [==============================] - 0s 1ms/step - loss: 0.0011 - val_loss: 2.5035e-05
Epoch 14/60
218/218 [==============================] - 0s 2ms/step - loss: 5.3070e-05 - val_loss: 2.2233e-05
Epoch 15/60
218/218 [==============================] - 0s 1ms/step - loss: 5.6625e-05 - val_loss: 1.6510e-05
Epoch 16/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2313 - val_loss: 0.0884
Epoch 17/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1031 - val_loss: 0.0318
Epoch 18/60
218/218 [==============================] - 0s 1ms/step - loss: 0.3349 - val_loss: 0.0015
Epoch 19/60
218/218 [==============================] - 0s 1ms/step - loss: 0.0012 - val_loss: 0.0071
Epoch 20/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2523 - val_loss: 9.1065e-04
Epoch 21/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1513 - val_loss: 0.1076
Epoch 22/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1999 - val_loss: 0.4390
Epoch 23/60
218/218 [==============================] - 0s 1ms/step - loss: 0.3273 - val_loss: 0.3658
Epoch 24/60
218/218 [==============================] - 0s 1ms/step - loss: 0.0634 - val_loss: 4.8053e-05
Epoch 25/60
218/218 [==============================] - 0s 2ms/step - loss: 0.1734 - val_loss: 0.0057
Epoch 26/60
218/218 [==============================] - 0s 2ms/step - loss: 0.5989 - val_loss: 0.0043
Epoch 27/60
218/218 [==============================] - 0s 1ms/step - loss: 3.3750e-04 - val_loss: 1.3639e-05
Epoch 28/60
218/218 [==============================] - 0s 2ms/step - loss: 0.0062 - val_loss: 0.3078
Epoch 29/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2703 - val_loss: 0.0035
Epoch 30/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1631 - val_loss: 0.0596
Epoch 31/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1503 - val_loss: 0.0115
Epoch 32/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2164 - val_loss: 0.0013
Epoch 33/60
218/218 [==============================] - 0s 1ms/step - loss: 0.3156 - val_loss: 0.0061
Epoch 34/60
218/218 [==============================] - 0s 2ms/step - loss: 0.0108 - val_loss: 0.1319
Epoch 35/60
218/218 [==============================] - 0s 1ms/step - loss: 0.3037 - val_loss: 0.0059
Epoch 36/60
218/218 [==============================] - 0s 1ms/step - loss: 0.0736 - val_loss: 9.5239e-05
Epoch 37/60
218/218 [==============================] - 0s 1ms/step - loss: 0.4581 - val_loss: 1.7489e-05
Epoch 38/60
218/218 [==============================] - 0s 1ms/step - loss: 1.9873e-04 - val_loss: 0.0030
Epoch 39/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1630 - val_loss: 0.4636
Epoch 40/60
218/218 [==============================] - 0s 2ms/step - loss: 0.2270 - val_loss: 0.1698
Epoch 41/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1534 - val_loss: 0.0044
Epoch 42/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2340 - val_loss: 6.6079e-05
Epoch 43/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2833 - val_loss: 0.0278
Epoch 44/60
218/218 [==============================] - 0s 1ms/step - loss: 0.0034 - val_loss: 0.1213
Epoch 45/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2257 - val_loss: 0.1710
Epoch 46/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2742 - val_loss: 0.0368
Epoch 47/60
218/218 [==============================] - 0s 1ms/step - loss: 0.0666 - val_loss: 1.6825
Epoch 48/60
218/218 [==============================] - 0s 1ms/step - loss: 0.5725 - val_loss: 6.4181e-04
Epoch 49/60
218/218 [==============================] - 0s 2ms/step - loss: 9.2094e-05 - val_loss: 1.3600e-05
Epoch 50/60
218/218 [==============================] - 0s 2ms/step - loss: 0.1128 - val_loss: 0.1320
Epoch 51/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1623 - val_loss: 1.2687e-04
Epoch 52/60
218/218 [==============================] - 0s 2ms/step - loss: 0.1708 - val_loss: 0.0748
Epoch 53/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1855 - val_loss: 2.0411e-04
Epoch 54/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1473 - val_loss: 0.0134
Epoch 55/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2415 - val_loss: 2.6341e-04
Epoch 56/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2124 - val_loss: 0.0081
Epoch 57/60
218/218 [==============================] - 0s 2ms/step - loss: 0.1339 - val_loss: 0.0245
Epoch 58/60
218/218 [==============================] - 0s 1ms/step - loss: 0.1606 - val_loss: 0.0270
Epoch 59/60
218/218 [==============================] - 0s 1ms/step - loss: 0.2917 - val_loss: 0.0294
Epoch 60/60
218/218 [==============================] - 0s 2ms/step - loss: 0.1696 - val_loss: 0.0461

In [ ]:
model.evaluate(X,y)

341/341 [==============================] - 0s 989us/step - loss: 0.0782

0.07820823788642883

In [ ]:
X_test

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,hour,day,month,year
7688,2,0,0,1,30.34,32.575,30,6.0032,279,347,17,19,5,2012
6930,2,0,0,1,14.76,16.665,29,23.9994,11,25,2,7,4,2012
2038,2,0,1,1,22.14,25.760,64,8.9981,28,245,20,11,5,2011
7971,2,0,1,3,27.06,30.305,83,16.9979,19,76,12,12,6,2012
5559,1,0,1,1,20.50,24.240,29,16.9979,28,391,18,6,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3361,3,0,1,1,31.16,34.090,48,19.0012,22,53,23,9,8,2011
7917,2,0,0,1,25.42,29.545,73,0.0000,3,27,6,10,6,2012
251,1,0,1,3,6.56,7.575,93,12.9980,0,32,20,11,1,2011
5174,4,0,1,1,14.76,17.425,62,8.9981,24,226,16,9,12,2011
7910,2,0,0,1,27.88,31.820,61,11.0014,69,161,23,9,6,2012

In [ ]:
test = (X_test - X_test.mean())/X_test.std()

In [ ]:
test

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,hour,day,month,year
7688,-0.428704,-0.179479,-1.460422,-0.645189,1.294949,1.058826,-1.639774,-0.807212,4.755770,1.253449,0.798461,1.626430,-0.418475,0.988814
6930,-0.428704,-0.179479,-1.460422,-0.645189,-0.688380,-0.805088,-1.691424,1.343280,-0.489237,-0.859233,-1.399157,-0.541480,-0.710416,0.988814
2038,-0.428704,-0.179479,0.684419,-0.645189,0.251091,0.260424,0.116319,-0.449330,-0.156531,0.584214,1.237985,0.181157,-0.418475,-1.010849
7971,-0.428704,-0.179479,0.684419,2.460272,0.877406,0.792887,1.097665,0.506621,-0.332670,-0.524616,0.065922,0.361816,-0.126534,0.988814
5559,-1.329105,-0.179479,0.684419,-0.645189,0.042320,0.082351,-1.691424,0.506621,-0.156531,1.542138,0.944969,-0.722139,-1.586238,0.988814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3361,0.471698,-0.179479,0.684419,-0.645189,1.399335,1.236314,-0.710078,0.746010,-0.273957,-0.675522,1.677508,-0.180161,0.457347,-1.010849
7917,-0.428704,-0.179479,-1.460422,-0.645189,0.668634,0.703851,0.581167,-1.524576,-0.645804,-0.846111,-0.813125,0.000498,-0.126534,0.988814
251,-1.329105,-0.179479,0.684419,2.460272,-1.732238,-1.870014,1.614163,0.028645,-0.704517,-0.813305,1.237985,0.181157,-1.586238,-1.010849
5174,1.372099,-0.179479,0.684419,-0.645189,-0.688380,-0.716051,0.013019,-0.449330,-0.234815,0.459553,0.651953,-0.180161,1.625109,-1.010849
7910,-0.428704,-0.179479,-1.460422,-0.645189,0.981792,0.970375,-0.038631,-0.209942,0.645876,0.033080,1.677508,-0.180161,-0.126534,0.988814

In [ ]:
test = np.asarray(test).astype(np.float32)

In [ ]:
model.predict(X_test)

69/69 [==============================] - 0s 2ms/step

array([[625.8051  ],
       [ 35.740555],
       [272.79617 ],
       ...,
       [ 31.734636],
       [249.81096 ],
       [229.80278 ]], dtype=float32)

In [ ]:
model.evaluate(X_test, y_test)

69/69 [==============================] - 0s 2ms/step - loss: 0.0467

0.04674853757023811

In [ ]:
a = model.get_weights()
a

[array([[ 0.06713903, -0.41061342,  0.18357335,  0.06846818,  0.16440336,
         -0.02918075, -0.01880383, -0.0896067 , -0.33879656, -0.1781316 ,
          0.22046737,  0.3741112 ,  0.1404801 , -0.1854929 ,  0.02583309,
         -0.34606647],
        [-0.50769794, -0.133675  , -0.17170672, -0.09279496, -0.2597695 ,
         -0.5348729 , -0.30653784,  0.33106932,  0.21145256,  0.06700981,
         -0.21473004,  0.18903168, -0.1903037 , -0.41137052, -0.06894292,
          0.07102477],
        [ 0.2004379 ,  0.24185146,  0.51166767,  0.03143417,  0.21922532,
         -0.4908758 ,  0.2743299 ,  0.07154933,  0.40625083,  0.14206478,
         -0.1989317 , -0.38755935,  0.31673998,  0.08168517,  0.32347342,
         -0.30739343],
        [ 0.34177294,  0.19626655, -0.3717836 ,  0.01723819,  0.19402654,
         -0.4229689 , -0.11451731,  0.300651  ,  0.29989296,  0.10873476,
         -0.19748059, -0.44555047, -0.42540926, -0.03991811, -0.16511323,
         -0.15208699],
        [-0.10235687,  0.18211651, -0.31349725, -0.00348772, -0.10132519,
          0.30864453,  0.21769239, -0.1951676 ,  0.04054435, -0.10943833,
         -0.04236816,  0.21465902, -0.4573081 ,  0.2399815 , -0.13260528,
         -0.3467137 ],
        [ 0.1666896 ,  0.04955767,  0.07989489,  0.4309995 , -0.14076479,
         -0.19643381,  0.3553705 , -0.06193548,  0.28549942,  0.02100654,
         -0.44093174, -0.12630622, -0.06664725, -0.36686218,  0.35998115,
         -0.46901494],
        [-0.13121797,  0.19464365,  0.28997523,  0.27888387, -0.02397889,
         -0.38156968, -0.11934897,  0.1842323 , -0.08964697,  0.3167577 ,
         -0.4517184 , -0.18086827, -0.2985143 , -0.383639  , -0.1175992 ,
         -0.20851006],
        [ 0.441872  ,  0.14595701,  0.35936016, -0.2859558 , -0.3535972 ,
         -0.4083002 ,  0.19525553, -0.22723284, -0.3785598 ,  0.17199978,
         -0.299109  , -0.06416019,  0.02335415, -0.19586234,  0.31702974,
         -0.08412781],
        [-0.49357384, -0.07209907, -0.24755801, -0.49270558,  0.12409463,
         -0.26539776,  0.5519535 , -0.20765835, -0.09354   , -0.1827546 ,
          0.1290123 , -0.35893625, -0.56403565, -0.17474505,  0.2294243 ,
          0.08392813],
        [-0.659593  ,  0.04102002,  0.10470404,  0.27934852,  0.48429698,
         -0.5986537 ,  0.18799633, -0.26387632,  0.06547624,  0.48195514,
          0.15087405, -0.09515744, -0.14552774, -0.39824414,  0.7599934 ,
          0.0438924 ],
        [ 0.35298604, -0.01508361,  0.05779   ,  0.13540713, -0.36738834,
          0.0602589 , -0.12559663, -0.26916948, -0.05018981, -0.02196291,
         -0.13194421, -0.44169554,  0.26563507,  0.40212488,  0.39346957,
          0.1970291 ],
        [ 0.055032  ,  0.05140916, -0.00323931, -0.19128132,  0.14296857,
         -0.06042501,  0.081302  , -0.15198499,  0.19163114, -0.4156273 ,
          0.11842062, -0.28055936, -0.02163025, -0.11359181, -0.82930624,
         -0.22428335],
        [ 0.34985378,  0.03725558,  0.01286424, -0.06263555,  0.22705854,
         -0.13858368, -0.09101781, -0.0250053 , -0.38473925, -0.14193857,
         -0.30496502, -0.30790102, -0.13991168, -0.10344777, -0.44642013,
          0.19046292],
        [ 0.33684015,  0.16080998,  0.37023324, -0.15905276, -0.36657733,
         -0.26018214,  0.15412349,  0.01490875, -0.22485927,  0.0151185 ,
          0.23828223, -0.07953306, -0.15626316,  0.01249332, -0.23777002,
          0.05067214]], dtype=float32),
 array([ 0.01726566,  0.01626209, -0.01772236,  0.01914131, -0.01660339,
         0.01972064, -0.01780092,  0.01840014, -0.01552948, -0.02401984,
        -0.01800015,  0.01753054,  0.01726726, -0.01015802, -0.01987563,
        -0.01685825], dtype=float32),
 array([[-0.23851788],
        [-0.50637347],
        [ 0.17907296],
        [-0.02953718],
        [ 0.27676767],
        [-0.15808643],
        [ 0.32059234],
        [-0.60702753],
        [ 0.18173566],
        [ 0.20515183],
        [ 0.1799625 ],
        [-0.31364518],
        [-0.59685034],
        [-0.05928022],
        [ 0.14078778],
        [ 0.42560396]], dtype=float32),
 array([-0.01682946], dtype=float32)]

In [ ]:
# model is already trained

# Select a single row from X_test
single_input = X_test.iloc[0].values.reshape(1, -1)

# Predict for the single input
single_prediction = model.predict(single_input)

# Display the predicted value
print("Predicted value for single input:", single_prediction[0][0])

1/1 [==============================] - 0s 80ms/step
Predicted value for single input: 625.8051

In [ ]:
# Evaluate the model
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print evaluation metrics
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2 score):", r2)

69/69 [==============================] - 0s 2ms/step
Mean Absolute Error (MAE): 0.21380503258100883
Mean Squared Error (MSE): 0.04674864502706624
Root Mean Squared Error (RMSE): 0.21621434972514253
R-squared (R2 score): 0.9999986054401365